div.a{
    background-color:aquamarine ;
    width: 680px;
    height: 500px;
}
div.b{
    background-color: yellow;
    width: 400px;
    height: 100px;
}
div.c{
    background-color: aquamarine;
    width: 150px;
    height: 50px;
}